/*
.agendarCita{
    background-color: red;
}
*/

.container_logoutSesion_agendarCita{
  text-align: end;
  padding: 10px;
  margin-bottom: 25px;
}

.container_logoutSesion_agendarCita button{
  color: white;
  text-decoration: none;
  border: none;
  background-color: var(--colorAdvertencia);
  border-radius: 20px;
  font-family: var(--Alegreya-Sans);
  font-weight: 500;
  font-size: 15px;
  font-style: bold;
  transition: 1s ease;
  text-align: center;
  padding: 10px 15px;
}

.container_logoutSesion_agendarCita button:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.container_logoutSesion_agendarCita i{
  color: white;
}

.bienvenida_agendarCita{
    text-align: center;
    margin-bottom: 50px;
}

.bienvenida_agendarCita h2{
    color: var(--colorBaseVeterinaria);
    font-family: var( --Permanent-Marker);
    font-weight: 900;
    font-style: normal;
    font-size: 35px;
}

.bienvenida_agendarCita p{
    color: var(--colorSecundarioVeterinaria);
    font-family: var( --Permanent-Marker);
    font-weight: 500;
    font-style: normal;
    font-size: 15px; 
}




/*calendario desde aqui *********************************************/



.containerCalendar{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  width: 98%;
  height: 450px;
  max-width: 1000px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}



/*calendar **********************/


.calendar h3 {
  font-weight: 600;
  font-family: var(--Permanent-Marker);
  color: var(--colorBaseVeterinaria);
}

.days li {
  font-family: var(--Permanent-Marker);
  color: var(--colorSecundarioVeterinaria);
}
.dates li {

  font-family: sans-serif;
  color: var(--colorTextoP);
}

.dates li:hover {

  cursor: pointer;
}

.calendar {
  width: 60%;
  max-width: 800px;
  padding: 50px;
  background: var(--colorFondoBody);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.calendar header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calendar nav {
  display: flex;
  align-items: center;
}
.calendar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.calendar ul li {
  width: calc(100% / 7);
  margin-top: 25px;
  position: relative;
  z-index: 2;
}

#prev,
#next {
  width: 20px;
  height: 20px;
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
}
#prev::before,
#next::before {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  border-color: #ccc;
}
#next::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
#prev::before {
  transform: translate(-50%, -50%) rotate(-135deg);
}
#prev:hover::before,
#next:hover::before {
  border-color: var(--colorBaseVeterinaria);
}
.days {
  font-weight: 600;
}

.dates li.inactive {
  color: #ccc;
}





/*citas nuevo m *****************/

.container_citas{
  background-color: var(--colorFondoBody);
  width: 40%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 1px solid var(--lineadivisora);
  margin: 20px 0;
}

.citas{
  height: 90%;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: none;
}

.citas::-webkit-scrollbar {
  display: none; /* Oculta el scrollbar en navegadores webkit */
}



.cita{
  width: 100%;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 15px;
  background-image: linear-gradient(to top, var(--colorBaseVeterinaria), var(--colorSecundarioVeterinaria));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}



.cita p{
  color: rgb(223, 223, 223);
  font-family: sans-serif;
  margin-bottom: 5px;
}

.cita span{
  color: var(--colorBaseVeterinaria);
  color: var(--colorFondoBody); 
  
  font-weight: 500;
  font-family: var( --Permanent-Marker);
  font-weight: 500;
  font-size: 17px; 
  margin-right: 7px;
}

.botones_cita {
  text-align: center;
}

.botones_cita button {
  width: 40%;
  margin-top: 10px;
  color: white;
  border: none;
  border-radius: 15px;
  font-family: var(--Alegreya-Sans);
  font-weight: 500;
  font-size: 15px;
  font-style: bold;
  transition: 1s ease;
  text-align: center;
  padding: 7px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.borrarCita {
  background-color: var(--colorAdvertencia);
}

.actualizarCita {
  background-color: var(--colorBaseVeterinaria);
}


.botones_cita label {
  background-color: var(--colorBaseVeterinaria);
  padding: 10px 20px;
  border-radius: 15px;
  color: white;
  font-family: sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 
}

.aprobarCita{
  margin-left: 20px;
}

.botones_cita input[type="checkbox"] {
  transform: scale(1.5); /* Ajusta el tamaño del checkbox según tu preferencia */
  margin-right: 5px; /* Ajusta el margen a tu gusto */
}

.container_boton_agregarCita{
  height: 10%;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.boton_agregarCita{
  width: 75%;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  border: none;
  background-color: var(--colorBaseVeterinaria);
  border-radius: 15px;
  font-family: var(--Alegreya-Sans);
  font-weight: 500;
  font-size: 15px;
  font-style: bold;
  transition: 1s ease;
  text-align: center;
  padding: 7px 0;
}

.boton_agregarCita:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.desabilitado{
  background-color: rgba(196, 196, 196, 0.486);
}

.boton_agregarCita i{
  color: white;
}


.dates li.selected {
  color: #fff;
}
.dates li.selected::before {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--colorBaseVeterinaria);
  border-radius: 50%;
  z-index: -1;
}



.dates li.existeCita {
  color: #fff;
}

.dates li.existeCita::before {

  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--colorSecundarioVeterinaria);
  border-radius: 50%;
  z-index: -1;

}




@media all and (max-width:870px){

  .containerCalendar{
    flex-direction: column;
    height: auto;
  }

  .container_citas{
    width: 100%;
    border-left: none;
    border-top: 1px solid var(--lineadivisora);
    border-radius: 0;
    max-height: 450px;
  }

  .citas{
    max-height: 400px;
  }

  .calendar {
    width: 100%;
    padding: 1rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
  }

}